<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript" src="js/vue/vue.min.js"></script>
 <script type="text/javascript" src="js/jq/jquery-1.9.1.min.js"></script>

<body>

<div id="app">
   <div>
     <table>
          <tr>
           <td><label>书名称</label><input type="text" v-model="bookname"></td>
           <td><label>书名称</label><input type="text" v-model="booknumber"></td>
           <td><input type="button" value="查询" @click="queryduring"></td>
          </tr>
     </table>    
      
   </div>
   <div>
   <table>
     <tr>
      <td><input type="button" value="更新" @click="update"></td>
      <td><input type="button" value="删除" @click="deletes"></td>
      <td><input type="button" value="添加" @click="add"></td>
     </tr>
   </table>
      
      
   </div>
  <table border="1">
     <tr>
       <th>复选框</th>
       <th>书顺序</th>
       <th>书名称</th>
       <th>书讯号</th>
     </tr>
    <tr v-for=" item in book">
      <td><input type="checkbox"></td>
     <td>{{item.bookId}}</td>
     <td>{{item.name}}</td>
     <td>{{item.number}}</td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="js/self/book.js"></script>
</body>
</html>